<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3000');

        socket.on('Server_send_data', function (data) {
            document.querySelector('#kq').textContent = data;
        })
        document.addEventListener('DOMContentLoaded', function () {
            var btnSend = document.querySelector('#btnSend');
            btnSend.addEventListener('click', function () {
                var a = document.querySelector('#txtA').value;
                var b = document.querySelector('#txtB').value;
                socket.emit('Client_send_data', { a, b });
            })
        });
    </script>
</head>

<body>
    <input type="text" id='txtA'>
    <input type="text" id='txtB'>
    <input type="button" value="Send" id='btnSend'>
    <h2 id='kq'></h2>
</body>

</html>