<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3000');

        socket.on('Server_send_data', function (data) {
            document.querySelector('#noidung').append(data + ', ');
        });

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#btnSend').addEventListener('click', function () {
                var s = document.querySelector('#txt').value;
                socket.emit('Client_send_data', s);
            })
        });
    </script>
</head>

<body>
    <input type="text" id='txt'>
    <input type="button" value='Send' id="btnSend">
    <h2 id='noidung'></h2>
</body>

</html>